@import views.html.main
@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String)
@main("Doctor type", webJarsUtil) {
    <script type="text/javascript">
            var Glob = {
                language: '@lang'
            }
    </script>
    <script src="@routes.Assets.versioned("javascripts/doctorType.js")" type="text/javascript"></script>
    @sidebar()
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h4 class="page-title"  data-bind="text: vm.translate('labelTitle')"></h4>
                        <a href="#" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#add_doctor_type">
                            <i class="fa fa-plus"></i> Add doctor type
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <table class="table table-border table-striped mb-0 dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 90%">Name</th>
                                    <th class="text-right" style="width: 20%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#edit" data-toggle="modal" data-target="#edit_doctor_type"><i class="fa fa-pen m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#delete" data-toggle="modal" data-target="#delete_doctor_type"><i class="fa fa-trash m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h4 class="page-title">Laboratory type</h4>
                        <a href="#" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#add_lab_type">
                            <i class="fa fa-plus"></i> Add laboratory type
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <table class="table table-border table-striped custom-table datatable mb-0 dataTable" data-bind="visible: vm.getLaboratoryList().length > 0">
                            <thead>
                                <tr>
                                    <th style="width: 90%">Name</th>
                                    <th class="text-right sorting" style="width: 20%">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: vm.getLaboratoryList">
                                <tr>
                                    <td data-bind="text: $data.laboratoryName"></td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <span class="dropdown-item" data-toggle="modal" data-target="#edit_lab_type" data-bind="click: $root.vm.openEditForm($data)"><i class="fa fa-pen m-r-5"></i> Edit</span>
                                                <span class="dropdown-item" data-bind="click: $root.vm.askDelete($data.id)" data-toggle="modal" data-target="#delete_lab_type" id="deleteLaboratory"><i class="fa fa-trash m-r-5"></i> Delete</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* ADD DOCTOR TYPE MODAL *@
    <div class="modal fade" id="add_doctor_type" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="editModalLongTitle">Add Doctor Type</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="doctorTypeName">Doctor Type Name:</label>
                        <input class="form-control" type="text" name="doctorTypeName" data-bind="value: vm.doctorTypeName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-modal" data-bind="click: vm.onSubmit">Create</button>
                </div>
            </div>
        </div>
    </div>

    @* EDIT DOCTOR TYPE MODAL *@
    <div class="modal fade" id="edit_doctor_type" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="#" method="post">
                    <div class="modal-header">
                        <h3 class="modal-title" id="editModalLongTitle">Edit Doctor Type</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Doctor Type Name:</label>
                            <input class="form-control" type="text" id="name">
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="submit" class="btn btn-primary btn-modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* DELETE DOCTOR TYPE *@
    <div id="delete_doctor_type" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="@routes.Assets.versioned("images/sent.png")" alt="#" width="50" height="46">
                    <h3>Are you sure want to delete this Role?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* ADD LAB TYPE MODAL *@
    <div class="modal fade" id="add_lab_type" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="#" method="post">
                    <div class="modal-header">
                        <h3 class="modal-title" id="editModalLongTitle">Add Laboratory Type</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="laboratoryName">Laboratory Type Name:</label>
                            <input class="form-control" type="text" id="laboratoryName" data-bind="value: vm.laboratoryName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-modal" data-bind="click: vm.createLab">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* EDIT LAB TYPE MODAL *@
    <div class="modal fade" id="edit_lab_type" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="#" method="post">
                    <div class="modal-header">
                        <h3 class="modal-title" id="editModalLongTitle">Edit Laboratory Type</h3>
                        <button type="button" class="close" id="closeModalLanguage" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Laboratory Type Name:</label>
                            <input class="form-control" data-bind="value: vm.selectedName" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bind="click: vm.updateLaboratory" class="btn btn-primary btn-modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* DELETE LAB TYPE *@
    <div id="delete_lab_type" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="@routes.Assets.versioned("images/sent.png")" alt="#" width="50" height="46">
                    <h3>Are you sure want to delete this Laboratory?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" id="close_modal" data-dismiss="modal">Close</a>
                        <button  type="submit" data-bind="click: vm.deleteLaboratory" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}