@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
  @import views.html.main
@main("Edit Doctor type", webJarsUtil) {
  <script src="@routes.Assets.versioned("javascripts/organization.js")" type="text/javascript"></script>

  <div class="content">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Edit Doctor type</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form>
          <div class="form-group">
            <label>Doctors Type Name <span class="text-danger">*</span></label>
            <input class="form-control" value="Team Leader" type="text">
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn"  data-bind="click">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
}