@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Registration Page", webJarsUtil) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/registration/registration_patient.css")">
  <script src="@routes.Assets.versioned("javascripts/patient/registration.patient.js")" type="text/javascript"></script>
  <div class="content">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Add Patient</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form class="toggle row" id="patient-form" action="@controllers.routes.RegistrationController.createPatient()"
        enctype="multipart/form-data" method="post">
          <div class="col-sm-12">
          <div class="row border border-dark p-4 mb-5">
            <div class="title-div">Patient information</div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="firstName" data-bind="value: vm.patient.firstName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Middle Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="middleName" data-bind="value: vm.patient.middleName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="lastName" data-bind="value: vm.patient.lastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Passport SN: </label>
                <input class="form-control" type="text" name="passport_sn" data-bind="value: vm.patient.passport_sn">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Date of Birth: <span class="text-danger">*</span></label>
                <div class="cal-icon">
                  <input type="date" class="form-control" name="birthday" data-bind="value: vm.patient.birthday">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone Number: </label>
                <input class="form-control" type="text" name="phone" data-bind="value: vm.patient.phone">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Address: <span class="text-danger">*</span></label>
                <input type="text" class="form-control " name="address" data-bind="value: vm.patient.address">
              </div>
            </div>
            <div class="col-sm-4 offset-sm-4 text-center">
              <div class="form-group">
                <label class="display-block">Gender: <span class="text-danger">*</span></label>
                 <div class="form-check form-check-inline">
                  <input type="radio" id="male" name="gender" class="form-check-input" value="1" data-bind="checked: vm.patient.gender">
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="gender" id="famale" class="form-check-input" value="2"  data-bind="checked: vm.patient.gender">
                  <label class="form-check-label" for="famale">Famale</label>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm-12">
          <div class="row border border-dark p-4">
            <div class="title-div">Organization information</div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Organization: <span class="text-danger">*</span></label>
                <select class="form-control" name="organizationId" tabindex="-1" data-bind="value: vm.patient.organizationId" aria-hidden="true">
                  <option value="1">InfromAlgo</option>
                  <option value="2">TATU</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Work Type: <span class="text-danger">*</span></label>
                <select class="form-control" tabindex="-1" name="workerTypeId" data-bind="value: vm.patient.workTypeId" aria-hidden="true">
                  <option value="1">First</option>
                  <option value="2">Second</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Profession: <span class="text-danger">*</span></label>
                <input class="form-control" name="profession" data-bind="value: vm.patient.profession" type="text">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Card Number: <span class="text-danger">*</span></label>
                <input class="form-control" name="cardNumber" type="text" data-bind="value: vm.patient.cardNumber">
              </div>
            </div>
            <div class="col-sm-6 offset-sm-3">
              <div class="form-group">
                <label>Avatar</label>
                <div class="profile-upload">
                  <div class="upload-img">
                    <img alt="" src="@routes.Assets.versioned("images/user.jpg")">
                  </div>
                    <span class="btn btn-file btn-attach-image futura">
                      <input type="file" name="attachedFile"/>
                    </span>
                    <span id="file-name" class="mt-3"></span>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn" type="submit" data-bind="click: vm.onSubmit, enable: vm.enableSubmitButton">Create Patient</button>
          </div>
        </form>
      </div>
    </div>
  </div>
}