@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String)
@import views.html.main
@main("Registration Page", webJarsUtil) {
  <script type="text/javascript">
    var Glob = {
      language: '@lang'
    };
  </script>

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/registration/registration_patient.css")">
  <script src="@routes.Assets.versioned("javascripts/patient/registration.patient.js")" type="text/javascript"></script>
  @sidebar()

  <div class="content">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Add Patient</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form class="toggle row" id="patient-form" action="@controllers.routes.RegistrationController.createPatient()"
        enctype="multipart/form-data" method="post">
          <div class="col-sm-12">
          <div class="row border border-dark p-4 mb-5">
            <div class="title-div">Personal information:</div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="firstName" data-bind="value: vm.patient.firstName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Middle Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="middleName" data-bind="value: vm.patient.middleName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name: <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="lastName" data-bind="value: vm.patient.lastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Passport SN: </label>
                <input class="form-control" type="text" name="passport_sn" data-bind="masked: vm.patient.passport_sn, mask: 'SS 9999999'">
              </div>
            </div>
            <div class="col-sm-6">
                <!-- Date Picker Input -->
              <div class="form-group mb-4">
                <label>Date of Birth: <span class="text-danger">*</span></label>
                <div class="datepicker date input-group p-0 shadow-sm">
                  <input type="text" placeholder="Choose a Date of birth" class="form-control py-4 px-4" id="reservationDate" data-bind="value: vm.patient.birthday" name="birthday">
                  <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-clock"></i></span></div>
                </div>
              </div>
                <!-- End Date Picker Input -->
            </div>
            <div class="col-sm-6 text-center">
              <div class="form-group">
                <label class="display-block">Gender: <span class="text-danger">*</span></label>
                 <div class="form-check form-check-inline">
                  <input type="radio" id="male" name="gender" class="form-check-input" value="1" data-bind="checked: vm.patient.gender">
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="gender" id="famale" class="form-check-input" value="2"  data-bind="checked: vm.patient.gender">
                  <label class="form-check-label" for="famale">Famale</label>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm-12">
            <div class="row border border-dark p-4 mb-5">
              <div class="title-div">Contact information: </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Phone Number: </label>
                  <input class="form-control" type="text" name="phone" data-bind="masked: vm.patient.phone, mask: '(99)-999-99-99'">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Region: </label>
                  <select class="custom-select" name="region" data-bind="options: vm.regionList(),
                    optionsValue: 'id',  optionsText: 'name', value: vm.selectedRegion, optionsCaption: 'Select Region'" >
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>City: </label>
                  <select class="custom-select" name="city" data-bind="options: vm.townList(),
                    optionsValue: 'id',  optionsText: 'name', value: vm.selectedTown, optionsCaption: 'Select Town'" >
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Address: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control " name="address" data-bind="value: vm.patient.address">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
          <div class="row border border-dark p-4">
            <div class="title-div">Employment information:</div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Organization: <span class="text-danger">*</span></label>
                <select class="custom-select" name="organizationName" data-bind="options: vm.organizationList(),
                    optionsValue: 'organizationName',  optionsText: 'organizationName', value: vm.selectedOrganization, optionsCaption: 'Select Organization'" >
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Work Type: <span class="text-danger">*</span></label>
                <select class="custom-select" name="department" data-bind="options: vm.workTypeList(),
                    optionsValue: 'id',  optionsText: 'workType', value: vm.selectedWorkType, optionsCaption: 'Select WorkType'" >
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Card Number: <span class="text-danger">*</span></label>
                <input class="form-control" name="cardNumber" type="text" data-bind="masked: vm.patient.cardNumber, mask: '9999999999'">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Avatar</label>
                <div class="profile-upload">
                  <div class="upload-img">
                    <img alt="" src="@routes.Assets.versioned("images/user.jpg")">
                  </div>
                    <span class="btn btn-file btn-attach-image futura">
                      <input type="file" name="attachedFile"/>
                    </span>
                    <span id="file-name" class="mt-3"></span>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary submit-btn" type="submit" data-bind="click: vm.onSubmit, enable: vm.enableSubmitButton">Create Patient</button>
          </div>
        </form>
      </div>
    </div>
  </div>
}