@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
    @import views.html.main
    @main("Home Page", webJarsUtil) {
        <script src="@routes.Assets.versioned("javascripts/checkupPeriod.js")" type="text/javascript"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5  ">
                        <!-- Button trigger modal addcheckupPeriod-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcheckupPeriod">
                        Add New checkupPeriod
                    </button>
                </div>
                <div class=" col-md-12 mt-3 text-center">
                    <table class="table table-bordered table-hover mt-5" >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Number per year</th>
                                <th>Doctor type</th>
                                <th>Lab type</th>
                                <th>Work type </th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: vm.getCheckupPeriodList">
                            <tr>
                                <td data-bind="text: $data.id"></td>
                                <td data-bind="text: $data.numberPerYear"></td>
                                <td data-bind="text: $data.doctorType"></td>
                                <td data-bind="text: $data.labType"></td>
                                <td data-bind="text: $data.workType"></td>
                                <td>
                                    <a class="addCheckupPeriod mr-3" title="Add" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                                    <a class="mr-3 editCheckupPeriod" title="Edit" data-toggle="tooltip" ><i class="fas fa-pen-alt"></i></a>
                                    <a class="deleteCheckupPeriod" title="Delete" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

            <!-- Modal Add checkupPeriod -->
        <div class="modal fade" id="addcheckupPeriod" tabindex="-1" role="dialog" aria-labelledby="addcheckupPeriodTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add checkupPeriod</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="m-4" method="post">
                            <div class="form-group">
                                <label for="numberPerYear" >Number per year: </label>
                                <input class="form-control" type="text" id="numberPerYear" data-bind="value: vm.numberPerYear" name="numberPerYear">
                            </div>
                            <div class="form-group one-line-dropdown">
                                <select multiple name="doctorTypeId" class="custom-select selectpicker form-control" data-bind="options: vm.getCheckupPeriodList(), optionsText: 'nu',
                optionsValue: 'id', value: vm.doctorTypeId, optionsCaption: 'doctorTypeId' " data-show-subtext="true">
                                </select>
                            </div>
                            <div class="form-group one-line-dropdown">
                                <select multiple name="roles" class="custom-select selectpicker form-control" data-bind="options: vm.getCheckupPeriod(), optionsText: 'name',
                optionsValue: 'id', value: vm.labTypeId, optionsCaption: 'labTypeId' " data-show-subtext="true">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="workTypeId" >Work type Id: </label>
                                <input class="form-control" type="text" id="workTypeId" data-bind="value: vm.workTypeId" name="workTypeId">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" data-bind="click: vm.addCheckPeriod" class="btn btn-success ">
                            Add checkupPeriod</button>
                    </div>
                </div>
            </div>
        </div>
    }