@import views.html.main
@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String)
@main("Home Page", webJarsUtil) {
    <script type="text/javascript">
            var Glob = {
                language: '@lang'
            }
    </script>
    @sidebar()

   @* <script src="@routes.Assets.versioned("javascripts/medical.js")" type="text/javascript"></script>
    <div class="container">
        <div class="col-md-12 mt-5">
            <button type="button" class="mt-2 btn btn-primary" data-toggle="modal" data-target="#registration">
                Registration
            </button>
        </div>
    </div>12
    <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="@controllers.routes.RegistrationController" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationModalLongTitle">Registration</h5>
                        <button type="button" class="close" id="closeModalLanguage" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body m-4">
                        <div class="form-group">
                            <label for="modddanomi" >Tibiiy ko`rikdan o`tuvchi shaxslar: </label>
                            <input class="form-control" type="text" id="modddanomi" name="moddanomi" data-bind="value: vm.moddanomi">
                        </div>
                        <div class="form-group">
                            <label for="muddat" >Tibbiy ko'rikdan o'tish muddati: </label>
                            <input class="form-control" type="text" id="muddat" name="muddat" data-bind="value: vm.muddat">
                        </div>
                        <div class="form-group">
                            <label for="mutaxassis" >Tibbiy ko'rikni o'tkazuvchi vrach-mutaxassislar: </label>
                            <input class="form-control" type="text" id="mutaxassis" name="mutaxassis" data-bind="value: vm.mutaxassis">
                        </div>
                        <div class="form-group">
                            <label for="tekshirishlar" >Laborator va funksional tekshirishlar: </label>
                            <input class="form-control" type="text" id="tekshirishlar" name="tekshirishlar" data-bind="value: vm.tekshirishlar">
                        </div>
                        <div class="form-group">
                            <label for="monelik" >Qo'shimcha tibbiy moneliklar: </label>
                            <input class="form-control" type="text" id="monelik" name="monelik" data-bind="value: vm.monelik">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" data-bind="click: vm.onSubmit" class="btn btn-success ">
                            Add Registration</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="container table table-bordered table-hover mt-5 text-center table-striped">
            <thead>
                <tr class="bg-success">
                    <th>ID</th>
                    <th>Dastlabki tarzda va vaqti-vaqti bilan tibbiy ko`rikdan o`tkazilishi shart bo`lgan shaxslar.</th>
                    <th>Tibbiy ko'rikdan o'tish muddati.</th>
                    <th>Tibbiy ko'rikni o'tkazuvchi vrach-mutaxassislar.</th>
                    <th>Laborator va funksional tekshirishlar.</th>
                    <th>Ishga qo'yish uchun qarshilik ko'rsatuvchi umumiy tibbiy moneliklarga qo'shimcha tibbiy moneliklar.</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.getRegistration" >
                <tr>
                    <td data-bind="text: $data.id"></td>
                    <td data-bind="text: $data.shaxslar"></td>
                    <td data-bind="text: $data.muddat"></td>
                    <td data-bind="text: $data.mutaxassis"></td>
                    <td data-bind="text: $data.tekshirishlar"></td>
                    <td data-bind="text: $data.monelik"></td>
                </tr>
            </tbody>
        </table>
   </div>*@

}
