@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Home Page", webJarsUtil) {
  <table class="container table table-bordered table-hover mt-5 text-center table-striped">
    <thead>
      <tr class="bg-success">
        <th>ID</th>
        <th>Ta'siri natijasida ishlovchi xodimlari dastlabki tarzda va vaqti bilan tibbiy ko'rikdan o'tkazilishi shart bo'lgan xavfli va zararli moddalar nomi.</th>
        <th>Tibbiy ko'rikdan o'tish muddati.</th>
        <th>Tibbiy ko'rikni o'tkazuvchi vrach-mutaxassislar.</th>
        <th>Laborator va funksional tekshirishlar.</th>
        <th>Ishga qo'yish uchun qarshilik ko'rsatuvchi umumiy tibbiy moneliklarga qo'shimcha tibbiy moneliklar.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
}
