@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String)
@import views.html.main
@main("Organization", webJarsUtil) {
  <script type="text/javascript">
          var Glob = {
            language: '@lang'
          }
  </script>
  <script src="@routes.Assets.versioned("javascripts/organization.js")" type="text/javascript"></script>
  @sidebar()

  <div class="content">
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title">Organization</h4>
      </div>
      <div class="col-sm-8 col-9 text-right m-b-20 ">
        <a data-toggle="modal" data-target="#organization" class="btn btn btn-primary text-white btn-rounded float-right">
          <i class="fa fa-plus"></i> Add Organization
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="orgTable" class="table table-border table-striped mb-0 dataTable display" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead>
            <tr>
              <th >№</th>
              <th >Organization Name</th>
              <th >Address</th>
              <th >Phone Number</th>
              <th >Email</th>
              <th >Ishchilar Soni</th>
              <th class="text-right" >Action</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: vm.organizations">
            <tr class="clickOnRow pointer-event" >
              <td data-bind="text: $index() + 1"></td>
              <td data-bind="text: $data.organizationName">
              <td data-bind="text: $data.organizationName">
              <td data-bind="text: $data.organizationName">
              <td data-bind="text: $data.organizationName">
              <td data-bind="text: $data.organizationName">
              <td class="text-right">
                <div class="dropdown dropdown-action">
                  <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item" data-bind="click: $parent.vm.openEditForm($data)" data-toggle="modal" data-target="#edit"><i class="fas fa-pen m-r-5"></i>
                      Edit</a>
                    <a href="#" data-bind="click: $parent.vm.askDelete($data.id)" class="dropdown-item" data-toggle="modal" data-target="#delete" ><i class="fas fa-trash m-r-5"></i>
                      Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="hide">
              <td></td>
              <td colspan="4" class="p-0">
                <table class="table">
                  <tr>
                    <td>wdawdad</td>
                  </tr>
                  <tr>
                    <td>wdwadawdad</td>
                  </tr>
                  <tr>
                    <td>wdawdwad wadad</td>
                  </tr>
                </table>
              </td>
              <td class="p-0" colspan="2">
                <table class="table">
                  <tr>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>13</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="clickOnRow pointer-event">
              <td>2</td>
              <td>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
              <td>Urganch shahar</td>
              <td>+99899 777-77-11</td>
              <td>email@@gmail.com</td>
              <td>157</td>
              <td class="text-right">
                <div class="dropdown dropdown-action">
                  <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit"><i class="fas fa-pen m-r-5"></i>
                      Edit</a>
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete"><i class="fas fa-trash m-r-5"></i>
                      Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="hide">
              <td></td>
              <td colspan="4" class="p-0">
                <table class="table">
                  <tr>
                    <td>wdawdad</td>
                  </tr>
                  <tr>
                    <td>wdwadawdad</td>
                  </tr>
                  <tr>
                    <td>wdawdwad wadad</td>
                  </tr>
                </table>
              </td>
              <td class="p-0" colspan="2">
                <table class="table">
                  <tr>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>13</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 col-md-12 mt-3">
        <ul class="pagination">
          <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">
              Previous
            </a>
          </li>
          <li class="paginate_button page-item active">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">
              1
            </a>
          </li>
          <li class="paginate_button page-item ">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">
              2
            </a>
          </li>
          <li class="paginate_button page-item next" id="DataTables_Table_0_next">
            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">
              Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  @* ADD ORGANIZATION MODAL *@
  <div class="modal fade" id="organization" tabindex="-1" role="dialog" aria-labelledby="organizationTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h3 class="modal-title">Add organization</h3>
            <button type="button" class="close" id="closeModalLanguage" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="organizationName">Organization Name: </label>
                  <input class="form-control" type="text" id="organizationName" data-bind="value: vm.organizationName">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="phoneNumber">Phone Number: </label>
                  <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" data-bind="value: vm.phoneNumber" >
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend" style="width: 15%">
                      <span class="input-group-text" style="width: 100%">Address:</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="sizing-addon3" data-bind="value: vm.address" name="address">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend" style="width: 15%">
                      <span class="input-group-text" style="width: 100%">Email:</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="sizing-addon3" data-bind="value: vm.email" name="email">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                @*<div class="form-group one-line-dropdown">
                  <label for="organizationName">Departments: </label>
                  <select multiple name="roles" class="custom-select selectpicker form-control" data-bind="*@@*options: vm.roleList(), optionsText: 'name', optionsValue: 'id', value: vm.user.selectedRoles, optionsCaption: 'Select Role' *@@*" data-show-subtext="true">
                  </select>
                </div>*@
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-modal" data-bind="click: vm.onSubmit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  @* EDIT MODAL *@
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="@controllers.routes.RegistrationController" method="post">
          <div class="modal-header">
            <h3 class="modal-title">Edit organization</h3>
            <button type="button" class="close" id="closeEditModal" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="organizationName">Organization Name: </label>
                  <input class="form-control" type="text" id="organizationName" data-bind="value: vm.selected.name">
                </div>
              </div>
              @*<div class="col-sm-6">
                <div class="form-group">
                  <label for="phonenumber">Phone Number: </label>
                  <input class="form-control" type="text" id="phonenumber" name="phonenumber" data-bind="">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend" style="width: 15%">
                      <span class="input-group-text" style="width: 100%">Address:</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="sizing-addon3">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend" style="width: 15%">
                      <span class="input-group-text" style="width: 100%">Email</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="sizing-addon3">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group one-line-dropdown">
                  <label for="organizationName">Departments: </label>
                  <select multiple name="roles" class="custom-select selectpicker form-control" data-bind="options: vm.roleList(), optionsText: 'name', optionsValue: 'id', value: vm.user.selectedRoles, optionsCaption: 'Select Role' " data-show-subtext="true">
                  </select>
                </div>
              </div>*@
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-bind="click: vm.updateOrganization" class="btn btn-primary btn-modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  @* DELETE ORG TYPE *@
  <div id="delete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="@routes.Assets.versioned("images/sent.png")" alt="#" width="50" height="46">
          <h3>Are you sure want to delete this Organization?</h3>
          <div class="m-t-20">
            <a href="#" class="btn btn-white" id="close_delete_modal" data-dismiss="modal">Close</a>
            <button type="submit" data-bind="click: vm.deleteOrg" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

}