@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Registration Page", webJarsUtil) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/registration/registration_patient.css")">
      <div class="row">
      <!--     SIDE AREA -->
    <div class="sideArea col-md-2">
      <div class="avatar">
        <div class="avatarName">SMART<br>MEDICAL</div>
      </div>
      <ul class="sideMenu">
        <li><a href="" class="link" ><span class="fa fa-home "></span>HOME PAGE</a></li>
        <li><a href="" class="link" ><span class="fa fa-book "></span>REGISTRATION</a></li>
        <li><a href="" class="link"><span class="fa fa-tools "></span>SETTING</a></li>
      </ul>
    </div>
      <!--     SIDE AREA -->
    <div class="mainArea col-md-10 offset-md-2">
        <!-- BEGIN NAV -->
      <nav class="navTop row">
        <div class="col-md-12">
        <div class="menuIcon float-left"><span class="fa fa-bars"></span></div>
        <div class="account float-right">
          <div class="name has-submenu">John Doe<span class="fa fa-angle-down"></span></div>
          <ul class="accountLinks submenu">
            <li><a href="">View website</a></li>
            <li><a href="">Log out<span class="fa fa-sign-out fr"></span></a></li>
          </ul>
        </div>
        </div>
      </nav>
        <!-- END NAV -->
        <!-- CONTAINER  -->
      <div class="mainContent">

      </div>
        <!-- END CONTAINER  -->

    </div>
  </div>

}