@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String)
  @import views.html.main
@main("Registration", webJarsUtil) {
  <script type="text/javascript">
          var Glob = {
            language: '@lang'
          }
  </script>
  <script src="@routes.Assets.versioned("javascripts/registration.js")" type="text/javascript"></script>
  @sidebar()
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fio">F.I.O:</label>
              <input type="text" class="form-control" name="fio">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="text" class="form-control" name="password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group one-line-dropdown">
              <label for="organization">Organization</label>
              <select class="custom-select" data-bind="options: vm.organizationList(),
                    optionsValue: 'organizationName',  optionsText: 'organizationName', value: vm.selectedOrganization, optionsCaption: 'Select Organization'" >
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group one-line-dropdown">
              <label for="department">Department</label>
              <select class="custom-select" data-bind="options: vm.workTypeList(),
                    optionsValue: 'id',  optionsText: 'workType', value: vm.selectedWorkType, optionsCaption: 'Select WorkType'" >
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <select multiple="multiple" id="demo1" name="demo1[]" class="form-control">
          <option value="elem_1" selected>elem 1</option>
          <option value="elem_2" selected disabled>elem 2</option>
          <option value="elem_3">elem 3</option>
          <option value="elem_4">elem 4</option>
          <option value="elem_5">elem 5</option>
          <option value="elem_6">elem 6</option>
          <option value="elem_7">elem 7</option>
          <option value="elem_8">elem 8</option>
          <option value="elem_9">elem 9</option>
          <option value="elem_10">elem 10</option>
          <option value="elem_11">elem 11</option>
          <option value="elem_12">elem 12</option>
          <option value="elem_13">elem 13</option>
          <option value="elem_14">elem 14</option>
          <option value="elem_15">elem 15</option>
          <option value="elem_16">elem 16</option>
          <option value="elem_17">elem 17</option>
          <option value="elem_18">elem 18</option>
          <option value="elem_19">elem 19</option>
          <option value="elem_20">elem 20</option>
        </select>
      </div>
      </div>
    </div>
  </div>
}