@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Home Page", webJarsUtil) {

  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/error/registration/registration.css")">

  <div class="container">

    <div class="row">
    <div class="offset-2 col-md-8 borders">
      <h6>T/r</h6>
      <input type="text" placeholder="" class="form-control">
      <br>
      <h6>Ta'siri natijasida ishlovchi xodimlari dastlabki tarzda va vaqti bilan tibbiy ko'rikdan o'tkazilishi shart bo'lgan xavfli va zararli moddalar nomi.</h6>
      <input type="text" placeholder="" class="form-control">
      <br>
      <h6>Tibbiy ko'rikdan o'tish muddati.</h6>
      <input type="text" placeholder="" class="form-control">
      <br>
      <h6>Tibbiy ko'rikni o'tkazuvchi vrach-mutaxassislar.</h6>
      <input type="text" placeholder="" class="form-control">
      <br>
      <h6>Laborator va funksional tekshirishlar.</h6>
      <input type="text" placeholder="" class="form-control">
      <br>
      <h6>Ishga qo'yish uchun qarshilik ko'rsatuvchi umumiy tibbiy moneliklarga qo'shimcha tibbiy moneliklar.</h6>
      <input type="text" placeholder="" class="form-control">

      <div align="center">

      <button class="btn btn-dark">Submit</button>

      </div>

    </div>
  </div>
</div>

}
