@()
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="active">
                    <a href="@controllers.routes.RegistrationController.index()"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="@controllers.routes.RegistrationController.patient()"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-cog"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="@controllers.routes.RegistrationController/*.doctorType()*/">Doctors type</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="@controllers.routes.RegistrationController.laboratory()">Laboratory</a></li>
                        <li><a href="@controllers.routes.RegistrationController.organization()">Organization</a></li>
                        <li><a href="@controllers.routes.RegistrationController.checkupPeriod()">Checkup Period</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>